[Unit]
Description=rust check water levels
Wants=water.timer

[Service]
EnvironmentFile=/home/pi/.water.env
WorkingDirectory=/home/pi/

Type=oneshot
ExecStart=/home/pi/rustberry/rustberry



[Install]
WantedBy=multi-user.target